.header-container{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  h1{
    font-size: 5rem;
    color: rgba(125, 139, 136, 0.729);
    font-weight: 100;
    margin: 50px  0 50px 0;
    padding: 0;
  }
  span{
    &:hover{
      color: white;
    }
  }
  input{
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    width: 700px;
    max-width: 700px;
    height: 2rem;
    font-size: 1.5rem;
    padding:  15px 15px 15px 50px;
    outline: none;
    border: none;
    background-color: rgb(232, 232, 232);
    border-bottom: .5px solid rgb(179, 179, 179);
    &::placeholder{
      font-style: italic;
    }
    &:hover{
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
