<div class="container" *ngIf="(noTodos | async)">

  <div class="control">
    <span class="sp">
      <span>{{num}} </span>
      <span>tasks</span>
    </span>
    <button (click)="completeAll()">Complete All</button>
  </div>

  <div class="show">
    <button
      [ngClass]="{'selected': isAllSelected}"
      (click)="
        isAllSelected = true;
        isCompletedSelected = false;
        isActiveSelected = false;
        filter('all')"> All
    </button>
    <button
      [ngClass]="{'selected': isCompletedSelected}"
      (click)="
        isCompletedSelected = true ;
        isAllSelected = false;
        isActiveSelected = false;
        filter('Completed')"> Completed
    </button>
    <button
      [ngClass]="{'selected': isActiveSelected}"
      (click)="
        isActiveSelected = true;
        isAllSelected = false;
        isCompletedSelected = false;
        filter('Active')"> Active
    </button>
  </div>

  <button
    class="clear-all"
    (click)="clearCompleted()"> Clear Completed
  </button>
</div>


<div class="decoration1"></div>
<div class="decoration2"></div>

