@font-face {
  font-family: 'Roboto1';
  src: url('./fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

