section{
  width: 765px;
  background-color: rgb(242, 242, 242);
  margin: 0 auto;
  position: relative;

  .sperate-btn{
    border: none;
    opacity: 0;

  }


  .sperate-btn + label {
    font-size: 0;
    position: absolute;
    top: -35px;
    left: -5px;
    transform: rotate(90deg);
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  .sperate-btn + label:before {
    content: '❯';
    font-size: 22px;
    color: #abaaaa;
  }

  .sperate-btn:checked + label:before {
    color: #515151;
  }

  ul{
  margin-top: 0;
  list-style: none;
  padding: 0;
  }
}
